Thumbs.db
.DS_Store
.gradle
build/
target/
out/
src/lambdas/*
src/logs/*
src/scripts/qemu-jvm/stretch/
src/scripts/qemu-jvm/stretch.img
.idea
*.iml
*.ipr
*.iws
lambda-manager-*
.project
.settings
.classpath
.factorypath
*.log
*.swp
