Thumbs.db
.DS_Store
.gradle
build/
bin/
target/
out/
codebase/*
!codebase/.gitkeep
lambda_logs/*
!lambda_logs/.gitkeep
manager_logs/*
!manager_logs/.gitkeep
src/scripts/qemu-jvm/stretch/
src/scripts/qemu-jvm/stretch.img
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath
*.log
*.swp

