Thumbs.db
.DS_Store
.gradle
build/
target/
out/
src/codebase/*
!src/codebase/.gitkeep
src/lambda_logs/*
!src/lambda_logs/.gitkeep
src/manager_logs/*
!src/manager_logs/.gitkeep
src/scripts/qemu-jvm/stretch/
src/scripts/qemu-jvm/stretch.img
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath
*.log
*.swp
